script(src="js/jquery-3.2.1.min.js")
//- script(src="js/jquery.lineProgressbar.js")
script(src="js/jquery.magnific-popup.min.js")
//- script(src="js/progressbar.js")
//- script(src="js/scrollreveal.min.js")
//- script(src="js/jquery.viewportchecker.min.js")
//- script(src="js/jquery.shuffle.min.js")
//- script(src="js/owl.carousel.min.js")
script(src="js/main.js")