footer.footer
	p.footer__text © 2017. <span class="footer__company">helicopter view.</span> All rights reserved. Design and development – <a class="link" target="_blank" href="http://sponge.com.ua/">Sponge D&D</a>.
script(src="js/main.js")