.menu
	.menu__mobile
		.menu__humburger
			span 
			span 
			span 
	ul.menu__list
		li.menu__item
			a.menu__link(href="#") about us.
		li.menu__item.menu__item--active
			a.menu__link(href="#") service.
		li.menu__item
			a.menu__link(href="#") out projectts.
		li.menu__item
			a.menu__link(href="#") process.
		li.menu__item
			a.menu__link(href="#") faq.
		li.menu__item
			a.menu__link(href="#") blog.
		li.menu__item
			a.menu__link(href="#") contacts.