section.offer
	.offer__container
		h2.title.title--center.title--offer our offer <span class="dot dot--min"></span>
		.offer__grid
			.offer__item
				.offer__icon
					svg.icon-hit(viewBox="0 0 52 52")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-hit")
				.offer__info
					h3.offer__title 100% Clear-Cut Hit
					p.offer__text We only identify companies that precisely match your brief, because we underttake comprehensive market research, wte take every detail of your strategy into account and provide sustainable and efficient deal execution
			.offer__item
				.offer__icon
					svg.icon-search(viewBox="0 0 52 52")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search")
				.offer__info
					h3.offer__title Active searching
					p.offer__text We can approach shareholders directly so as to acquire “not for sale” or to sell for “not acquiring” targets
			.offer__item
				.offer__icon
					svg.icon-persons(viewBox="0 0 70 50")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-persons")
				.offer__info
					h3.offer__title Professionalism
					p.offer__text For each project we establish a team of the best qualified professionals and experts with relevant expertise and knowledge.
			.offer__item
				.offer__icon
					svg.icon-call(viewBox="0 0 55 55")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-call")
				.offer__info
					h3.offer__title Negotiation
					p.offer__text We can help to get the best possible price and terms by ensuring responsive communication, high quality preparation, applying all our experience and skills.
			.offer__item
				.offer__icon
				.offer__info
					h3.offer__title Confidentiality
					p.offer__text Maintaining confidentiality is our specialty and that’s why your information would not be shared with any third party without your written permission. 
			.offer__item
				.offer__icon
				.offer__info
					h3.offer__title Guarantee
					p.offer__text If we don't achieve the desired results, you pay nothing. There are few, if any advisers offering the same no risk offer.
			.offer__item
				.offer__icon
				.offer__info
					h3.offer__title Free support
					p.offer__text We offer three months post-acquisition support at no extra cost.

