section.service
	.service__container
		h1.title.title--center.title--service service <span class="dot"></span>
		p.service__text We identify compelling investment opportunities, opening doors that might otherwise appear closed.<br> We facilitate all aspects of deal execution.