section.service
	.service__container
		h1.title.title--center.title--service service <span class="dot"></span>
		p.service__subtext We identify compelling investment opportunities, opening doors that might otherwise appear closed.<br> We facilitate all aspects of deal execution.
		.service__grid
			//- First Line
			.service__item
				.service__icon.service__icon--development
					svg.icon-development(viewBox="0 0 80 80")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-development")
				p.service__text <span class="bold">Development</span><br> of the acquisition or<br> sales strategy
			.service__item
				.service__icon.service__icon--analysis
					svg.icon-analysis(viewBox="0 0 90 90")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-analysis")
				p.service__text <span class="bold">Company analysis,</span><br> preparation of the investment memorandum 
			.service__item
				.service__icon.service__icon--research
					svg.icon-research(viewBox="0 0 90 90")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-research")
				p.service__text Undertaking comprehensive <span class="bold"><br>industry and market<br> researches</span>
			.service__item
				.service__icon.service__icon--strategy
					svg.icon-strategy(viewBox="0 0 90 90")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-strategy")
				p.service__text <span class="bold">Identifying transaction opportunities</span><br> based on a client’s objectives<br> and strategy
			.service__item
				.service__icon.service__icon--money
					svg.icon-money(viewBox="0 0 100 80")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-money")
				p.service__text Determining an<br> <span class="bold">appropriate valuation</span><br> for the businesses, facilities<br> and other assets
			//- Second Line
			.service__item
				.service__icon.service__icon--phone
					svg.icon-phone(viewBox="0 0 90 90")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone")
				p.service__text Serving as a intermediary in <span class="bold">negotiations</span><br> with any level of complexity to get<br> the best possible price and terms
			.service__item
				.service__icon.service__icon--headset
					svg.icon-headset(viewBox="0 0 90 90")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-headset")
				p.service__text <span class="bold">Providing counsel</span><br> to the clients in helping secure<br> acquisitions, leading the due<br> diligence process
			.service__item
				.service__icon.service__icon--document
					svg.icon-document(viewBox="0 0 90 90")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-document")
				p.service__text Negotiating the <br> <span class="bold">relevant legal documents,</span><br> drafting contracts<br> and legal documentation
			.service__item
				.service__icon.service__icon--managing
					svg.icon-managing(viewBox="0 0 110 80")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-managing")
				p.service__text <span class="bold">Managing PR<br> and reputation</span><br> around the transaction
			.service__item
				.service__icon.service__icon--advice
					svg.icon-advice(viewBox="0 0 90 90")
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-advice")
				p.service__text Continuing advice<br> and support during the<br> <span class="bold">post-acquisition period</span>
