@import "components/reset";
@import "components/mixin";
@import "components/fonts";
@import "components/icons";


// VARIABLE
$blue_color: #20aa97;
$link_hover: #20aa97;
$header_circle: #e8f6f4;
$service_text: #585858;
$p_color: #585858;
$offer_circle: #fbfdfd;
$footer_background: #000;

	
html {
	font-size: 16px;
	box-sizing: border-box;
}

body {
	position: relative;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
	@include extra;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 60px;
}

a {
	color: #000;
	text-transform: none;
	text-decoration: none;
}

p {
	@include semi;
	font-size: 18px;
	color: $p_color;
}

.title {
	padding: 0 10px;
	&--center {
		text-align: center;
	}
	&--service {
		padding-left: 30px;
	}
	&--offer {
		padding-left: 30px;
	}
}

.dot {
	display: inline-block;
	position: relative;
    left: -22px;
    width: 20px;
    height: 20px;
	border-radius: 50%;
	background: $blue_color;
	&--min {
		width: 10px;
		height: 10px;
	}
}

.bold {
	@include extra;
	font-size: 20px;
	color: #000;
}

.link {
	@include extra;
	color: $blue_color;
	transition-duration: .5s;
	&:hover {
		color: #2de8cf;
	}
}

.hidden {
	opacity: 0;
}

.visible {
	transition: opacity 1.2s ease-out;
}

@keyframes bounce {
	0%{	
		transform: scale(1);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes switch {
	0%{transform: translateY(0%);}
	100%{transform: translateY(20%);}
}

@media (max-width: 768px) { 
	
	h1 {
		font-size: 70px;
	}

	.dot {
		left: -20px;
		width: 14px;
		height: 14px;
	}

}

@media (max-width: 500px) {
	
	h1 {
		font-size: 54px;
	}

	h2 {
		font-size: 45px;
	}

	.title {
		&--center {
			text-align: left;
		}
		&--service {
			padding: 0 10px;
		}
		&--offer {
			padding-left: 10px;
		}
	}

	.dot {
		left: -10px;
		width: 10px;
		height: 10px;

		&--min {
			left: -16px;
			width: 8px;
			height: 8px;
		}
	}

	.bold {
		font-size: 16px;
	}

}


// BLOCKS
@import "blocks/preloader";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/service";
@import "blocks/ouroffer";
@import "blocks/footer";











