.footer {
	margin-top: 58px;
	padding-top: 54px;
	padding-bottom: 50px;
	background-color: $footer_background;
	&__text {
		@include semi;
		text-align: center;
		color: #fff;
		font-size: 14px;
	}
	&__company {
		@include extra;
	}
}

@media (max-width: 768px) {
	.footer {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media (max-width: 500px) {
	.footer {
		margin-top: 45px;
		padding-top: 36px;
		padding-bottom: 50px;
		&__text {
			line-height: 19px;
			font-size: 12px;
			padding: 0 25px;
		}
	}
}