.header {
	position: relative;
	&__container {
		@include container;
		display: flex;
		justify-content: space-between;
		padding-top: 35px;
		padding-bottom: 25px;
		padding-right: 75px;
		padding-left: 64px;
	}
	&__circle {
		position: absolute;
		right: 0;
		top: 0;
		width: 290px;
		height: 370px;
		overflow: hidden;
		pointer-events: none;
		&:after {
			content: '';
			position: absolute;
			width: 370px;
			height: 370px;
			border-radius: 50%;
			background: $header_circle;
			z-index: -1;
			transform: scale(1);
		}
	}
}
