.header {
	position: relative;
	border-bottom: 2px dotted rgba(236,236,236,.6);
	&__container {
		@include container;
		display: flex;
		justify-content: space-between;
		padding-top: 35px;
		padding-bottom: 25px;
		padding-right: 75px;
		padding-left: 64px;
	}
	&__circle {
		position: absolute;
		right: 0;
		top: 0;
		width: 290px;
		height: 370px;
		overflow: hidden;
		pointer-events: none;
		&:after {
			content: '';
			position: absolute;
			width: 370px;
			height: 370px;
			border-radius: 50%;
			// background: red;
			background: $header_circle;
			z-index: -1;
		}
	}
}

@media (max-width: 1024px) {
.header {
		&__container {
			padding: 12px 20px;
		}
		&__circle {
			width: 236px;
			height: 160px;
			&:after {
				top: -120px;
				width: 270px;
				height: 270px;
			}
		}
	}
}

@media (max-width: 500px) {
	.header {
		&__container {
			padding: 12px 4px;
		}
		&__circle {
			width: 85px;
			height: 115px;
			&:after {
				top: -145px;
			}
		}
	}
}