.service {
	&__container {
		@include container;
		padding-top: 110px;
	}
	&__subtext {
		@include extra;
		color: $service_text;
		text-align: center;
		padding-top: 92px;
		font-size: 20.1px;
		line-height: 35px;
	}
	&__grid {
		max-width: 1582px;
		margin: 0 auto;
		width: 100%;
		padding-top: 80px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	&__item {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		width: 20%;
		margin-bottom: 60px;
	}
	&__icon {
		width: 150px;
		height: 150px;
		// background: #ccc;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		&--development {
			padding-left: 30px;
			padding-top: 14px;
		}
		&--analysis {
			padding-left: 22px;
			padding-top: 24px;
		}
		&--research {
			padding-left: 18px;
			padding-top: 24px;
		}
		&--strategy {
			padding-left: 24px;
			padding-top: 24px;
		}
		&--money {
			padding-left: 6px;
			padding-top: 16px;
		}
		&--phone {
			padding-left: 16px;
			padding-top: 20px;
		}
		&--headset {
			padding-left: 6px;
			padding-top: 18px;
		}
		&--document {
			padding-left: 28px;
			padding-top: 18px;
		}
		&--managing {
			padding-left: 8px;
			padding-top: 16px;
		}
		&--advice {
			padding-left: 22px;
			padding-top: 20px;
		}
	}
	&__text {
		padding-top: 12px;
	    line-height: 24px;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.service {
		&__container {
			padding-top: 60px;
		}
		&__subtext {
			font-size: 16px;
			padding-top: 40px;
			padding-left: 98px;
			padding-right: 111px;
			letter-spacing: 0.7px;
		    line-height: 30px;
		}
		&__grid {
			padding-top: 16px;
		}
		&__item {
			width: 50%;
			margin-bottom: 0;
		}
		&__text {
			padding-top: 8px;
			padding-left: 10px;
			padding-right: 10px;
		}
		&__icon {
			&--development {
				padding-left: 22px;
				padding-top: 44px;
			}
			&--analysis {
				padding-left: 42px;
				padding-top: 54px;
			}
			&--research {
				padding-left: 16px;
				padding-top: 54px;
			}
			&--strategy {
				padding-left: 48px;
				padding-top: 52px;
			}
			&--money {
				padding-left: 6px;
				padding-top: 22px;
			}
			&--phone {
				padding-left: 48px;
				padding-top: 34px;
			}
			&--headset {
				padding-left: 20px;
				padding-top: 28px;
			}
			&--document {
				padding-left: 50px;
				padding-top: 30px;
			}
			&--managing {
				padding-left: 50px;
				padding-top: 30px;
			}
			&--advice {
				padding-left: 45px;
				padding-top: 30px;
			}
		}
	}

}

@media (max-width: 500px) {
	.service {
		&__subtext {
			padding-top: 34px;
			padding-right: 2px;
			padding-left: 10px;
			text-align: left;
		}
		&__icon {

		}
		&__text {
			padding: 0;
			font-size: 16px;
		}
	}
}