doctype html
html
	include blocks/head.pug
	body
		main.page
			include components/svg.svg
			include blocks/preloader.pug
			include blocks/header.pug
			include blocks/service.pug
			include blocks/ouroffer.pug
			include blocks/footer.pug
			