.svg-sprite {
	display: none;
}

.icon {
	&-logo {
		width: 78px;
		height: 43px;
	}
	&-development {
		width: 80px;
		height: 80px;
	}
	&-analysis {
		width: 90px;
		height: 90px;
	}
	&-research {
		width: 90px;
		height: 90px;
	}
	&-strategy {
		width: 90px;
		height: 90px;
	}
	&-money {
		width: 100px;
		height: 80px;
	}
	&-phone {
		width: 90px;
		height: 90px;
	}
	&-headset {
		width: 90px;
		height: 90px;
	}
	&-document {
		width: 90px;
		height: 90px;
	}
	&-managing {
		width: 110px;
		height: 80px;
	}
	&-advice {
		width: 90px;
		height: 90px;
	}
	&-hit {
		width: 52px;
		height: 52px;
	}
	&-search {
		width: 52px;
		height: 52px;
	}
	&-persons {
		width: 70px;
		height: 50px;
	}
	&-call {
		width: 55px;
		height: 55px;
	}
}