// Fonts
@mixin bold {
	font-family: "ProximaNovaBold", sans-serif;
}
@mixin extra {
	font-family: "ProximaNovaExtraBold", sans-serif;
}
@mixin semi {
	font-family: "ProximaNovaSemiBold", sans-serif;
}

// Blocks
@mixin container {
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

@mixin block-boxshadow {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}